#{extends 'main.html' /} 
#{set title:'Facebook' /} 

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '259176644136057', // App ID
      channelUrl : 'hollow-stream-9914.herokuapp.com/Facebook/channel', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      oauth      : true, // enable OAuth 2.0
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>

<strong>Your TreeMarks:</strong><br/>

#{ifnot resources}
   No TreeMarks yet
#{/ifnot}

<ul id="resources">
	#{list items:resources, as:'resource'}
	<li><a href="${resource.url}">${resource.title}</a></li> 
	#{/list}
</ul>

<a id="addResource" href="#">Add TreeMark</a>

<script type="text/javascript" charset="utf-8">	
<!--
$('#addResource').click(function() {
	$.post('@{addResource()}', {url: prompt('URL:')}, function(resource) {
		$('#resources').append(
			'<li><a href="'+ resource.url + '">' + resource.title + '</a></li>'
		)
	})
});
-->
</script>
