#{extends 'main.html' /} 

#{set title:'Flickr' /} 

Hello World!

<ul>
	#{list items:photos, as:'photo'}
	<li><img src="${photo.url}" /></li> #{/list}

</ul>

<a id="byCurrentUser" href="#">Public flickr photos</a><br/>

<a id="byLocation" href="#">Flickr photos on current location</a><br/>

<a id="setUser" href="#">Set Flickr user</a>

<div id="images"></div>

<div id="echo"></div>


<script type="text/javascript" charset="utf-8">	
<!--
	$('#setUser').click(function() {
		$.post('@{setUser()}', {flickrUser: prompt('Flickr user name ?')}, function(echo) {
			$('#echo').append(
				'<span>echo: '+echo.name._content+'</span>'
			)
		})
	});

	$('#byLocation').click(function() {
		alert('fetching');
		if(navigator.geolocation) {
		    browserSupportFlag = true;
		    navigator.geolocation.getCurrentPosition(function(position) {
		      $.post('@{getPhotosForLocation()}', {latitude: position.coords.latitude, longitude: position.coords.longitude}, function(photos) {
		    	  	alert(photos);
					$('#images').append(
						'<div>'+photos.name._content+'</span>'
					)
				})
		    }, function() {
				alert('failed getting location info');
//		      handleNoGeolocation(browserSupportFlag);
		    });
		} else {
			alert('no location info available');
		}
	});

	$('#byCurrentUser').click(function() {
		$.getJSON('http://api.flickr.com/services/rest/?api_key={API_KEY}&method=flickr.tags.getListUser&format=json', function(data) {
			$.post('@{getPublicPhotosCurrentUser()}', {flickrUser: prompt('Flickr user name ?')}, function(echo) {
				$('#echo').append(
					'<span>echo: '+echo.name._content+'</span>'
				)
			})
		});
	});

-->
</script>
