#{extends 'main.html' /} 
#{set title:'TreeMarks' /} 

<div>
<strong>Your TreeMarks:</strong><br/>

<em>
#{ifnot resources}
   No TreeMarks
#{/ifnot}
</em>

<ul id="resources">
	#{list items:resources, as:'resource'}
	<li><a href="${resource.url}">${resource.title}</a></li> 
	#{/list}
</ul>

<strong>Groups:</strong><br/>

<em>
#{ifnot groups}
   No Groups
#{/ifnot}
</em>

<ul id="groups">
	#{list items:groups, as:'group'}
	<li><a href="groups/${group.id.toInteger()}">${group.name}</a></li> 
	#{/list}
</ul>

<a id="addResource" href="#">Add TreeMark</a>

<a id="addGroup" href="#">Add Group</a>

<script type="text/javascript" charset="utf-8">	
<!--
$('#addResource').click(function() {
	$.post('@{addResource()}', {url: prompt('URL:')}, function(resource) {
		$('#resources').append(
			'<li><a href="'+ resource.url + '">' + resource.title + '</a></li>'
		)
	})
});

$('#addGroup').click(function() {
	$.post('@{addGroup()}', {name: prompt('Name:')}, function(group) {
		$('#groups').prepend(
			'<li><a href="groups/'+ parseInt(group.id) + '">' + group.name + '</a></li>'
		)
	})
});
-->
</script>
</div>